body {
  margin: 15px;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

a.glyphicon,
.navbar a {
  text-decoration: none;
}

.navbar {
  margin: -15px -15px 15px -15px;
  border: none;
  border-radius: 0;
}

.navbar .navbar-brand,
.navbar .navbar-nav > li > a {
  text-shadow: none;
}

.input-group {
  margin: 7px 0 7px 0;
}

.input-group .form-control,
.input-group-addon {
  width: auto;
}

.post {
  display: table;
  margin: 30px 15px 15px 15px;
}

.post-missing-notice {
  margin-left: 15px;  /* must align with .post */
}

.board-level {
  /* Top-level trees. */
  border-top: 1px solid #999;
  padding-top: 15px;
}

.post-view-tree > .post:not(:first-child),
.post-view-tree > .post-view-tree:not(:first-child) {
  /* Not the first message in tree view or on a board page. */
  padding-left: 48px;
  /* TODO: use a background-image that would indicate the tree structure.
   *   e.g. a line with an arrow for everything except :first-child
   *   and a line cap for :last-child.
   */
}

.post-title:before {
  content: '"';
}

.post-title:after {
  content: '"';
}

.post-title {
  font-weight: bold;
}

.post-sage:before {
  content: "САЖА";
  color: #aa0000;
  font-weight: bold;
}

.post-timestamp:before {
  content: "@ ";
  color: #aaaaaa;
}

.post-parent:before {
  content: ">>";
}

.post-body {
  max-height: 200px;
  overflow-y: hidden;
  word-wrap: break-word;
}

.board-level .post-reply .post-body {
  max-height: 150px;
}

.post-collapse-btn,
.post-expand-btn {
  display: none;
}

.post-body p {
  white-space: pre-line;
}

blockquote {
  border-left: 2px solid;
  /* Twice as small as bootstrap defaults. */
  padding: 5px 10px;
  margin: 0 0 10px;
}

blockquote p {
  /* Bootstrap makes paragraphs in quotes bigger for some reason. */
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.media-object {
  margin-bottom: 10px;
}

.post-attach + .post-body {
  padding-left: 15px;
}
