#: extends "base.html"
#: from "post.html" import post, post_form with context
#: set title, threads, pages = this

#: block title
  {{ title }}
#: endblock

#: block options
  #: if pages > 1
    #: if page
      <li><a href="{{ url_for('.board', board=board, page=page - 1) }}">&laquo;</a></li>
    #: endif
    <li class="disabled"><a>Стр. {{ page }}</a></li>
    #: if pages > page + 1
      <li><a href="{{ url_for('.board', board=board, page=page + 1) }}">&raquo;</a></li>
    #: endif
  #: endif
#: endblock

#: block main
  #: include "banner.html"

  <h1>
    {{ self.title() }}
    <small>
      <a class="glyphicon glyphicon-comment post-reply-btn" title="Ответить" data-toggle="collapse" data-target="#board-form"></a>
    </small>
  </h1>

  <div class="collapse post-form" id="board-form">
    {{ post_form(url_for('.post_create', board=board), 0) }}
  </div>

  #: for thread in threads
    <div class="post-view-tree">
      {{ post(thread.root, false, thread.closed, thread.attached) }}

      #: if thread.skipped
        <p class="post-missing-notice">
          Всего {{ thread.skipped + thread.latest|length }} постов, из них {{ thread.skipped }} пропущен{% if thread.skipped > 1 %}о{% endif %}.
        </p>
      #: endif

      #: for reply in thread.latest
        {{ post(reply, true, thread.closed, thread.attached) }}
      #: endfor
    </div>
  #: endfor
#: endblock
