-extends "base.haml.html"
-from "post.haml.html" import post, post_form with context

-block title
  =this[0]

-block options
  -if this[2] > 1
    -if page
      %li -> %a href="{{ url_for('.board', board=board, page=page - 1) }}" -> &laquo;
    %li class="disabled" -> %a -> Стр. {{ page }}
    -if this[2] > page + 1
      %li -> %a href="{{ url_for('.board', board=board, page=page + 1) }}" -> &raquo;

-block content
  %div class="post-form" id="board-form"
    =post_form(url_for('.post_create', board=board), 0)

  -for thread in this[1]
    %div class="post-view-tree"
      =post(thread.root, false, thread.closed, thread.attached)
      -if thread.skipped
        %p class="post-missing-notice"
          Всего {{ thread.skipped + thread.latest|length }} постов, из них {{ thread.skipped }} пропущен{{ "о" if thread.skipped > 1 else "" }}.
      -for reply in thread.latest
        =post(reply, true, thread.closed, thread.attached)
