-extends "list.haml.html"

-block view_options
  %li class="disabled" -> %a -> Layout
  %li -> %a href="{{ url_for('.thread_list', board=board, thread=this.root.id) }}" data-type="list" class="thread-view-type" -> List
  %li -> %a href="{{ url_for('.thread_tree', board=board, thread=this.root.id) }}" data-type="tree" class="thread-view-type" -> Tree
  %li class="active" -> %a -> Gallery

-block main
  %h1 -> =self.title()
  %div class="text-center post-view-tree"
    -for p in as_list(this)|sort(attribute='id')
      -for file, thumb in p.files
        %div class="img-thumbnail gallery-item"
          %a href="{{ url_for('upload', filename=file) }}"
            %img alt="image" class="img-responsive" src="{{ url_for('upload', filename=file) }}"
          %a class="gallery-caption" href="{{ url_for('.thread', board=board, thread=this.root.id) }}#{{ p.id }}"
            &gt;&gt;{{ p.id }}
