#: macro post(p, list_mode, closed, attached)
<div class="post media" id="{{ p.id }}">
  <div class="media-heading">
    <a href="{{ url_for('.thread', board=board, thread=p.thread) }}#{{ p.id }}" class="post-id">{{ p.id }}</a>
    #: if p.title
      <span class="post-title">{{ p.title }}</span>
    #: endif
    <span class="post-timestamp">{{ p.timestamp.strftime('%d.%m.%Y %H:%M:%S') }}</span>
    #: if p.sage
      <span class="post-sage"></span>
    #: endif
    #: if not p.parent
      #: if attached
        <span class="glyphicon glyphicon-cloud-upload" title="Прикреплен"></span>
      #: endif
      #: if closed
        <span class="glyphicon glyphicon-lock" title="Закрыт"></span>
      #: endif
    #: endif
    #: if not closed
      <a class="glyphicon glyphicon-edit post-reply-btn" title="Ответить" data-toggle="collapse" data-target="#post-form-{{ p.id }}"></a>
    #: endif
    <a class="glyphicon glyphicon-collapse-down post-expand-btn" title="Развернуть"></a>
    <a class="glyphicon glyphicon-collapse-up post-collapse-btn" title="Свернуть"></a>
  </div>

  <div class="post-content clearfix">
    #: for file, thumb in p.files
      <div class="media-object pull-left">
        <a href="{{ url_for('upload', name=file) }}">
          <img alt="image" src="{{ url_for('upload', name=thumb) }}" />
        </a>
      </div>
    #: endfor

    <div class="media-body">
      #: if list_mode and p.parent and p.parent != p.thread
        <p><a class="post-anchor" data-id="{{ p.parent }}" data-board="{{ board }}" data-thread="{{ p.thread }}">{{ p.parent }}</a></p>
      #: endif

      {{ p.text|safe }}
    </div>
  </div>

  #: if not closed
    <div class="collapse post-form" id="post-form-{{ p.id }}">
      {{ post_form(url_for('.post_create', board=board), p.id) }}
    </div>
  #: endif
</div>
#: endmacro

#: macro post_form(url, parent)
<form method="post" role="form" enctype="multipart/form-data" action="{{ url }}">
  <input type="hidden" name="parent" value="{{ parent }}" />

  <div class="input-group">
    <input type="text" class="form-control" name="title" placeholder="Тема" />
    <label class="input-group-addon">
      <input type="checkbox" name="sage" /> Сажа
    </label>
  </div>

  <div class="input-group">
    <textarea class="form-control" name="text" rows="5" cols="40" placeholder="Ценное сообщение"></textarea>
  </div>

  <div class="input-group">
    <div class="input-group-addon adjacent-file-control btn btn-default glyphicon glyphicon-hdd"></div>
    <input type="file" name="file" class="hidden" />
    <input type="text" class="form-control adjacent-file-display" disabled />
  </div>

  <div class="input-group">
    <button type="submit" class="btn btn-default">{% if parent %}Ответить{% else %}Создать тред{% endif %}</button>
  </div>
</form>
#: endmacro
