-extends "base.haml.html"
-block title
  =config.SITE_TITLE

-block styles
  %link type="text/css" rel="stylesheet" href="/static/css/yoba-theme-neutron.css" data-theme-override

-block navbar
-block main
  %div class="container root-page"
    %h1 class="text-center" -> =config.SITE_TITLE
    %div id="main-image" -> &nbsp;

    -for row in boards|dictsort|batch(3)
      %div class="row"
        -for car, cdr in row
          %div class="col-sm-4"
            %h3 -> =car
            %ul class="list-unstyled board-index"
              -for bid, bnam in cdr|dictsort(false, 'value')
                %li -> %a href="{{ url_for('.board', board=bid) }}" -> /{{ bid }}/ - {{ bnam }}
