-extends "list.haml.html"
-from "post.haml.html" import post with context

-block view_options
  %li class="disabled" -> %a -> Layout
  %li -> %a href="{{ url_for('.thread_list', board=board, thread=this.root.id) }}" data-type="list" class="thread-view-type" -> List
  %li class="active" -> %a data-type="tree" class="thread-view-type" -> Tree

-macro node(t)
  %div class="post-view-tree"
    =post(t.root, false, this.closed, this.attached)
    -for st in t.replies
      =node(st)

-block content
  =node(this)
