@import variables

@mixin center-child()
  // http://css-tricks.com/centering-in-the-unknown/
  text-align: center

  &:before
    vertical-align: middle
    content:        ''
    display:        inline-block
    height:         100%
    margin-right:   -0.25em

  & > *
    vertical-align: middle
    display:        inline-block

// Core

body
  margin: 15px

@media (max-width: 767px)
  h1, h2
    font-size: 28px

a
  // This makes `href="#"` redundant.
  cursor:          pointer
  text-decoration: underline

a.glyphicon, a.fa, .navbar a
  text-decoration: none

footer
  margin-top: 15px
  padding:    15px
  border-top: 1px solid $hr-color

.navbar:not(.navbar-fixed-top)
  margin: -15px -15px 15px -15px
  border-radius: 0

.tooltip-inner > ul
  margin:  0
  padding: 0

  & > li
    display: inline-block

    &:not(:last-child):after
      content: " / "
      opacity: 0.5

// Admin tools

#admin-mode:after
  content: "off"

body.admin #admin-mode:after
  content: "on"

body.admin-not-here #admin-mode:after
  content: "not on this page"

body:not(.admin) .admin
  display: none

.dialog
  input
    margin: auto

  button
    margin: 5px

// Root page

.root-image
  max-height:   300px
  margin-left:  -15px
  margin-right: -15px
  overflow:     hidden

.root-image-inner
  background: url(/static/img/root-image.png) center top no-repeat
  background-size: contain
  height: 650px

.root-main
  box-shadow: 0 0 15px 5px #060606
  padding-left:  15px
  padding-right: 15px

.board-index
  margin-left: 20px

.board-index td
  padding-left: 6px

// Error page

.error-body
  background: url(/static/img/error-bg.png) no-repeat center
  height:    466px
  min-width: 466px
  @include center-child()

  &[data-code="500"]
    background-image: url(/static/img/error-bg-500.png)

// Forms

.input-group
  margin: 8px

.form-control, .input-group-addon, .input-group-btn
  // Otherwise it attempts to fill the whole page.
  width: auto

.post-form > form
  display: table

#post-form-0 > form
  margin:  0 auto

.loading
  opacity:  0.5
  position: relative

  .loading-cover
    @include center-child()
    position:  absolute
    z-index:   10001
    top:       0
    left:      0
    width:     100%
    height:    100%

// Post trees

body > .post-view-tree
  padding-top: 15px
  border-top:  1px solid $hr-color
  max-width:   100%
  overflow-x:  auto

@media (min-width: 768px)
  .post-view-tree > .post:not(:first-child),
  .post-view-tree > .post-view-tree
    margin-left: 48px

.post-view-tree > .post:not(:first-child),
.post-view-tree > .post-view-tree > .post,
*:not(.post-view-tree) > .post
  background: $post-reply-bg
  border:        1px solid $post-reply-border
  margin-top:    8px
  margin-right:  8px
  margin-bottom: 8px
  padding:       8px 8px 0 8px
  @if $post-border-rad != 0px
    border-radius: $post-border-rad

.post-missing-notice
  // must align with `.post`
  margin-left: 15px

// Posts

.post
  display: table
  margin:  15px

  @media (max-width: 767px)
    display: block
    margin:  0
    margin-right: 0 !important

  &.prop-close        .core-reply,
  &.prop-close        .adm-close,
  &.prop-attach       .adm-attach,
  &:not(.prop-attach) .adm-attached,
  &:not(.prop-attach) .adm-detach,
  &:not(.prop-close)  .adm-closed,
  &:not(.prop-close)  .adm-open
    display: none

  &.preview
    position:   absolute
    display:    inline-block
    z-index:    11000
    min-width:  50px
    min-height: 50px
    box-shadow: 0 6px 18px -9px #000

  .id:before
    content: '#'

  .title
    color:       $post-title-fg
    background:  $post-title-bg
    font-weight: bold
    &:before,
    &:after
      content: '"'

  .time
    color:      $post-time-fg
    background: $post-time-bg

    &:before
      content: ": "
      opacity: 0.5

  .media-object
    margin-bottom: 10px
    margin-right:  15px

    &.anim, &.video, &.youtube
      border: 2px dashed $post-video-border

  .body
    max-height: 250px
    overflow-y: auto

    p
      white-space: pre-line

  .sage
    color:      $post-sage-fg
    background: $post-sage-bg
    font-weight: bold

  .spoiler
    // TODO have color:$post-spoiler-off by default, turn on
    //   on hover, toggle on click.
    background: $post-spoiler-off
    color:      $post-spoiler-on

  .post-anchor:before
    content: ">>"

  blockquote
    color:      $post-quote-fg
    background: $post-quote-bg
    // Twice as small as bootstrap defaults.
    border-left: 2px solid
    padding:     5px 10px
    margin:      0 0 10px 10px

    &, p
      // Bootstrap makes paragraphs in quotes bigger for some reason.
      line-height: inherit
      font-size:   inherit
      font-weight: inherit

// Image view mode

@mixin fill-parent($z)
  display:  block
  position: absolute
  z-index:  $z

.fullscreen
  @include fill-parent(20001)
  position:   fixed
  color:      white
  background: rgba(0, 0, 0, 0.8)
  right:  0
  bottom: 0
  width:  100%
  height: 100%

  .wrap
    @include fill-parent(20002)
    @include center-child()
    top:    10%
    left:   10%
    right:  10%
    bottom: 10%

.imageview
  .fa
    font-size: 2em

  @mixin -fixed-size-links()
    .fa
      font-size: 1em

    .back, .maxi, .link
      height: 2em

    .prev, .next
      width: 2em

    .wrap
      top:    2em
      left:   2em
      right:  2em
      bottom: 2em

  .prev
    @include fill-parent(20004)
    top:    0
    left:   0
    width:  10%
    height: 100%

  .next
    @include fill-parent(20004)
    top:    0
    right:  0
    width:  10%
    height: 100%

  .back
    @include fill-parent(20005)
    top:    0
    right:  0
    width:  50%
    height: 10%

  .mini, .maxi
    @include fill-parent(20005)
    top:    0
    left:   0
    width:  50%
    height: 10%

  .link
    @include fill-parent(20003)
    left:   0
    bottom: 0
    width:  100%
    height: 10%

  @media (min-width: 768px)
    &.minimized
      width:      33%
      height:     33%
      min-width:  420px
      min-height: 340px
      @include -fixed-size-links()

      .mini
        display: none

    &:not(.minimized)
      .maxi
        display: none

  @media (max-width: 767px)
    .maxi, .mini
      display: none

    .back
      width: 100%

  @media (max-width: 480px)
    @include -fixed-size-links()

  & > a
    @include center-child()
    color:           rgba(255, 255, 255, 0.5)
    text-align:      center
    text-decoration: none

    &:hover
      color: rgba(255, 255, 255, 0.7)

  .view
    max-width:      100%
    max-height:     100%
