@import url(Cyborg-bootstrap.css);
@import url(Default-layout.css);
@import url(pygments-wombat.css);

footer, body > .post-view-tree {
  border-top: 1px solid #2a2a2a;
}

.post-view-tree > .post:not(:first-child),
.post-view-tree > .post-view-tree > .post {
  background: #191919;
  border-color: #202020;
  border-radius: 5px;
}

.form-control {
  background: #252525;
  color: #bfbfbf;
}

.form-control[disabled] {
  background: #353535;
  color: #afafaf;
}

.post-missing-notice {
  color: #666;
}

.post .title {
  color: #ff9933;
}

.media-object.anim, .media-object.video {
  border: 2px dashed #428bca;
}

blockquote {
  color: #779922;
}

table {
  background: none;
}

table a {
  color: #2a9fd6;
}

.spoiler {
  background: #900;
  color: white;
}
