body {
  margin: 15px;
}

#admin-mode:after {
  content: "off";
}

body.admin #admin-mode:after {
  content: "on";
}

body:not(.admin) .admin {
  display: none;
}

footer {
  margin-top: 15px;
  padding: 15px;
}

a {
  /* This makes `href="#"` redundant. */
  cursor: pointer;
  text-decoration: underline;
}

a.glyphicon, .navbar a {
  text-decoration: none;
}

#main-image {
  background: url(/static/img/main-image.png) center top no-repeat;
  height: 240px;
  margin-left: -30px;
  margin-right: -30px;
}

.board-index {
  margin-left: 20px;
}

.board-index td {
  padding-left: 3px;
}

#error-body {
  background: url(/static/img/error-bg.png) no-repeat center;
  display: table;
  height:    466px;
  min-width: 466px;
}

#error-body > * {
  display: table-cell;
  vertical-align: middle;
}

.navbar {
  border: none;
  border-radius: 0;
  margin: -15px -15px 15px -15px;
  text-shadow: none;
}

.input-group {
  margin: 8px;
}

.adjacent-file-target {
  position: absolute;
  visibility: hidden;
}

.input-group .form-control,
.input-group-addon {
  /* Otherwise it attempts to fill the whole page. */
  width: auto;
}

.board-banner {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

body > .post-view-tree {
  padding-top: 15px;
}

.post-view-tree > .post:not(:first-child),
.post-view-tree > .post-view-tree {
  /* TODO: display nesting levels visually. */
  margin-left: 48px;
}

.post-missing-notice {
  margin-left: 15px;  /* must align with .post */
}

.post {
  display: table;
  margin: 15px;
}

.post-closed .post-reply-btn,
.post-closed .admin-tree-close,
.post-attached .admin-tree-attach,
.post-expanded .post-expand-btn,
.post:not(.post-attached) .post-attached-mark,
.post:not(.post-attached) .admin-tree-detach,
.post:not(.post-closed)   .post-closed-mark,
.post:not(.post-closed)   .admin-tree-open,
.post:not(.post-expanded) .post-collapse-btn,
.post:not(.post-expandable) .post-expand-btn {
  display: none;
}

.post-id:before {
  content: '#';
}

.post-title:before,
.post-title:after {
  content: '"';
}

.post-title {
  font-weight: bold;
}

.post-sage {
  color: #aa0000;
  font-weight: bold;
}

.post-time:before {
  color: #aaaaaa;
  content: "@ ";
}

.post-content {
  max-height: 200px;
  overflow-y: hidden;
}

.media-object {
  margin-bottom: 10px;
  margin-right: 15px;
}

.media-body p {
  white-space: pre-line;
}

.post-anchor:before {
  content: ">>";
}

blockquote {
  /* Twice as small as bootstrap defaults. */
  border-left: 2px solid;
  padding: 5px 10px;
  margin: 0 0 10px;
}

blockquote p {
  /* Bootstrap makes paragraphs in quotes bigger for some reason. */
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}
