@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<XThread>
@{
  Layout = "Shared/_Layout.cshtml";

  ViewBag.IgnType = false;
  ViewBag.Title   = string.IsNullOrEmpty(Model.OpPost.Title)
    ? "/" + Model.Board.Path + "/ - #" + Model.OpPost.Number
    : "/" + Model.Board.Path + "/ - "  + Model.OpPost.Title;
}


@section Options {
  <li><a href="/@Model.Board.Path">Назад в /@Model.Board.Path/</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Вид <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li @(ViewBag.ViewType == "flat" ? "class='active'" : "")><a href="/@(Model.Id).flat">Списком</a></li>
      <li @(ViewBag.ViewType == "tree" ? "class='active'" : "")><a href="/@(Model.Id).tree">Деревом</a></li>
    </ul>
  </li>
}


@RenderBody()