{% extends "base.html" %}
{% from "post.html" import post, post_form with context %}

{% block title %}
  {{ title }}
{% endblock %}

{% block options %}
  {% if page %}
    <li><a href="{{ url_for('html.board', board=board, page=page - 1) }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><a>&laquo;</a></li>
  {% endif %}
  <li class="disabled"><a class="no-side-padding">Стр. {{ page }}</a></li>
  {% if page < pagenum - 1 %}
    <li><a href="{{ url_for('html.board', board=board, page=page + 1) }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><a>&raquo;</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <div id="board-reply-form">
    <div class="post-form" id="board-form">
      {{ post_form(url_for('html.thread_create', board=board), 0, 0) }}
    </div>
  </div>

  {% for thread in this %}
    <div class="post-view-tree board-level">
      {{ post(thread.root, False) }}

      {% if thread.skipped.value %}  
        <p class="post-missing-notice">
          Всего {{ thread.skipped.value + thread.latest|length }} постов, из них {{ thread.skipped.value }} пропущен{% if thread.skipped.value > 1 %}о{% endif %}.
        </p>
      {% endif %}
  
      {% for reply in thread.latest %}
        {{ post(reply, True) }}
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
