{% extends "base.html" %}
{% from "post.html" import post, post_form with context %}

{% block title %}
  /{{ board }}/ - {{ title }}
{% endblock %}

{% block content %}
  <div id="board-reply-form">
    <div class="post-form" id="board-form">
      {{ post_form(url_for('thread_create', board=board), 0, 0) }}
    </div>
  </div>

  {% for thread in this %}
    <div class="post-view-tree board-level">
      {{ post(thread.root, False) }}

      {% if thread.skipped.value %}  
        <p class="post-missing-notice">
          Всего {{ thread.skipped.value + thread.latest|length }} постов, из них {{ thread.skipped.value }} пропущен{% if thread.skipped.value > 1 %}о{% endif %}.
        </p>
      {% endif %}
  
      {% for reply in thread.latest %}
        {{ post(reply, True) }}
      {% endfor %}
    </div>
  {% endfor %}

  <div class="basement">
    <ul class="pager">
      {% if page %}<li class="previous"><a href="{{ url_for('board', board=board, page=page - 1) }}">&larr; Новые</a></li>{% endif %}
      {% if page < pagenum - 1 %}<li class="next"><a href="{{ url_for('board', board=board, page=page + 1) }}">Старые &rarr;</a></li>{% endif %}
    </ul>
  </div>
{% endblock %}
