@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Tuple<string, string, string>>

<form method="post" role="form" enctype="multipart/form-data" action="/@Model.Item1">
  <input type="hidden" name="opPostId" value="@Model.Item2" />
  <input type="hidden" name="parentId" value="@Model.Item3" />

  <div class="input-group">
    <input type="text" class="form-control" name="title" placeholder="Тема"></td>
    <label class="input-group-addon" type="checkbox">
      <input type="checkbox" name="sage" />
      Сажа
    </label>
  </div>

  <div class="input-group">
    <!-- TODO: a fancy WYSIWYG text editor. -->
    <textarea class="form-control" name="body" rows="5" cols="60" placeholder="Ценное сообщение"></textarea>
  </div>

  <div class="input-group">
    <input type="file" name="attach">
  </div>

  <div class="input-group">
    @if (Model.Item1 == Model.Item2) {
      <input type="submit" value="Создать тред" />
    } else {
      <input type="submit" value="Отправить" />
    }
  </div>
</form>