#: extends "list.html"
#: from "post.html" import post with context

#: block view_options
  <li class="disabled"><a>Вид треда</a></li>
  <li><a href="{{ url_for('html.thread_list', board=board, thread=this.root.id) }}" data-type="list" class="thread-view-type">Списком</a></li>
  <li class="active"><a data-type="tree" class="thread-view-type">Деревом</a></li>
#: endblock

#: macro node(t)
  <div class="post-view-tree">
    {{ post(t.root, false) }}

    #: for st in t.replies
      {{ node(st) }}
    #: endfor
  </div>
#: endmacro

#: block content
  {{ node(this) }}
#: endblock
